@import 'vars.modules';

@font-face {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../styles/fonts/src/Inter-Light.woff2") format("woff2"),
  url("../styles/fonts/src/Inter-Light.woff") format("woff"),
  url("../styles/fonts/src/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../styles/fonts/src/Inter-Regular.woff2") format("woff2"),
  url("../styles/fonts/src/Inter-Regular.woff") format("woff"),
  url("../styles/fonts/src/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../styles/fonts/src/Inter-Italic.woff2") format("woff2"),
  url("../styles/fonts/src/Inter-Italic.woff") format("woff"),
  url("../styles/fonts/src/Inter-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../styles/fonts/src/Inter-Medium.woff2") format("woff2"),
  url("../styles/fonts/src/Inter-Medium.woff") format("woff"),
  url("../styles/fonts/src/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("../styles/fonts/src/Inter-MediumItalic.woff2") format("woff2"),
  url("../styles/fonts/src/Inter-MediumItalic.woff") format("woff"),
  url("../styles/fonts/src/Inter-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../styles/fonts/src/Inter-SemiBold.woff2") format("woff2"),
  url("../styles/fonts/src/Inter-SemiBold.woff") format("woff"),
  url("../styles/fonts/src/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../styles/fonts/src/Inter-Bold.woff2") format("woff2"),
  url("../styles/fonts/src/Inter-Bold.woff") format("woff"),
  url("../styles/fonts/src/Inter-Bold.ttf") format("truetype");
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;

  & .col {
    display: flex;
    flex-direction: column;
    margin: 8px;

      &_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        padding: 0 8px;
        min-width: 288px;

        color: $colorText-header-colum;
        border-radius: 1px;

        &_name {
          display: flex;
          flex-direction: row;
          margin-left: 8px;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;

          &_countTasks {
            color: $colorText-header-colum;
            margin-left: 8px;
          }
        }

        &_buttons {
          display: flex;
          flex-direction: row;
        }

        & img {
          align-self: center;
          margin: 8px;
        }
      }

    &_item {
      background: $background-item;
      border: 1px solid $color-border;
      margin-bottom: 8px;
      padding: 12px;
      cursor: pointer;
      min-width: 288px;

      position: relative;

      &:hover {
        background-color: $background-item-hover !important;
      }

      &_title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: $colorText-header-colum;
        margin-bottom: 8px;
      }
      &_time {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 71px;
        margin-bottom: 9px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;

        border-radius: 1px;
      }

      &_info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &_author {
          display: flex;
          flex-direction: row;

          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 17px;
          color: $colorText-header-colum;
        }

        &_description {
          display: flex;
          flex-direction: row;
          align-items: center;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: $colorText-header-colum;

          &_info {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: 14px;
            & :nth-child(1) {
              margin-right: 6px;
            }
          }
        }
      }
    }
  }
}

.col_item_modal {
  h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 5px;
  }

  &_worker {
    margin-bottom: 16px;
  }

  &_datetime {
    margin-bottom: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;

    & input {
      border: 1px solid $border-input;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      padding: 7px 12px;
      width: 100%;

      &:focus-visible {
        outline: none;
      }

      color: $colorText-header-colum;
    }
  }
}

.activated {
  visibility: visible !important;
}

.PanelTaskName {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;

  & input {
    border: 1px solid $border-input;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    padding: 7px 12px;
    width: 100%;

    &:focus-visible {
      outline: none;
    }

    color: $colorText-header-colum;

    &:focus {

    }
  }
}
