.RightPanel {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 16px;
  width: 600px;
  min-width: 448px;
  max-width: 768px;
  background-color: #ffffff;
  border: 1px solid #dedfe0;

  .shutter-resizing-element {
    height: 100%;
    position: absolute;
    top: 0;
    left: -10px;
    width: 10px;
    cursor: w-resize;
  }
}
